<%- include('./templates/head.ejs') %>

<div class="container">
  <%- include('./templates/navtop.ejs') %>

  <section>
    <div class="text-center">
      <img src="img/image 6.svg" class="mb-4">
    </div>
    <h2 class="text-center mt-4 mb-4"> Nossos mais sinceros agradecimentos!</h2>
    <h6 class="text-center mb-3">Com <strong>segurança, agilidade, confiança e sem sair de casa</strong> você <br>ajudou na educação de um jovem estudante da rede pública.</h6>
    <h6 class="text-center mb-4">Agradecemos de verdade e esperamos ter você aqui conosco <br>mais vezes.</h6>
    <h6 class="text-center mt-1 mb-0">Abaixo sua nota fiscal</h6>
    <a href="#" class="nav-link active text-center mb-4 py-0">Download</a>
    <h6 class="text-center mt-4 mb-2 py-2"> Que tal compartilhar com os amigos e <br>espalhar o bem nas suas redes sociais?</h6>
    <div class="text-center mb-4">
      <img src="img/Rectangle 17.svg" class="text-center" width="40px">
      <img src="img/Rectangle 17.svg" class="text-center" width="40px">
      <img src="img/Rectangle 17.svg" class="text-center" width="40px">
      <img src="img/Rectangle 17.svg" class="text-center" width="40px">
    </div>
  </section>
  
</div>

<%- include('./templates/body.ejs') %>