<%- include('./templates/head.ejs') %>

<div class="container">
  <%- include('./templates/navtop.ejs') %>


<div id="confirmacao-content-box">
  <div class="confirmacao-titulo">Materiais para serem doados</div>
  
  <div class="card-confirmacao-produtos">
    <div class="row">
      <div class="imagem-produto">
        <img src="/img/image 3.svg" class="card-confirmacao-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-confirmacao-body">
          <h5 class="card-confirmacao-title">1 caderno universitário | 10 matérias</h5>
          <p class="card-confirmacao-text">Na doação deste ítem, você recebe R$ 10,00 de cashback</p>
        </div>
      </div>
      <div class="icone-lixo">
        <img src="/img/image 3.svg" class="imagem-lixo" alt="...">
        <p class="card-confirmacao-preco">R$12,00</p>
      </div>
    </div>
  </div>

  <div class="card-confirmacao-produtos">
    <div class="row">
      <div class="imagem-produto">
        <img src="/img/image 3.svg" class="card-confirmacao-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-confirmacao-body">
          <h5 class="card-confirmacao-title">1 Livro | Matemática Ensino Médio</h5>
          <p class="card-confirmacao-text">Na doação deste ítem, você recebe R$ 25,00 de cashback</p>
        </div>
      </div>
      <div class="icone-lixo">
        <img src="/img/image 3.svg" class="imagem-lixo" alt="...">
        <p class="card-confirmacao-preco">R$30,00</p>
      </div>
    </div>
  </div>

  <div class="card-confirmacao-produtos">
    <div class="row">
      <div class="imagem-produto">
        <img src="/img/image 3.svg" class="card-confirmacao-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-confirmacao-body">
          <h5 class="card-confirmacao-title">1 Kit Caneta esferográfica | 4 unidades</h5>
          <p class="card-confirmacao-text">Na doação deste ítem, você recebe R$ 5,00 de cashback</p>
        </div>
      </div>
      <div class="icone-lixo">
        <img src="/img/image 3.svg" class="imagem-lixo" alt="...">
        <p class="card-confirmacao-preco">R$7,00</p>
      </div>
    </div>
  </div>

  <div class="card-confirmacao-produtos-subtotal">
    <div class="col">
      <h5 class="card-confirmacao-subtotal">Subtotal</h5>
      <h5 class="card-confirmacao-valor">R$49,00</h5>
    </div>
  </div>


</div>

