<%- include('./templates/head.ejs') %>

<div class="container">
  <%- include('./templates/navtop.ejs') %>

  <div class="confirmacao-box">
    <div class="confirmacao-box-content">
      <h5>Materiais para serem doados</h5>

      <hr class="d-xl-none h5-separator">

      <ul class="material-list">

        <li>
          <div class="img-box">
            <img src="/img/image 42.png" alt="image">
          </div>

          <div class="material-description">
            <h6>1 caderno universitário | 10 matérias </h6>
            <p class="material-description-cashback">Na doação deste ítem, você recebe R$ 10,00 de cashback</p>

            <img src="/img/image 44.svg" alt="" class="mt-3">
          </div>

          <div class="material-description-side">
            <i class="far fa-times-circle"></i>
            <p class="material-description-price">R$12,00</p>
          </div>
        </li>

        <li>
          <div class="img-box">
            <img src="/img/image 4.png" alt="image">
          </div>

          <div class="material-description">
            <h6>1 caderno universitário | 10 matérias </h6>
            <p class="material-description-cashback">Na doação deste ítem, você recebe R$ 25,00 de cashback</p>

            <img src="/img/image 40.svg" alt="" class="mt-3">
          </div>

          <div class="material-description-side">
            <i class="far fa-times-circle"></i>
            <p class="material-description-price">R$30,00</p>
          </div>
        </li>

        <li>
          <div class="img-box">
            <img src="/img/image 43.png" alt="image">
          </div>

          <div class="material-description">
            <h6>1 caderno universitário | 10 matérias </h6>
            <p class="material-description-cashback">Na doação deste ítem, você recebe R$ 5,00 de cashback</p>

            <img src="/img/image 40.svg" alt="" class="mt-3">
          </div>

          <div class="material-description-side">
            <i class="far fa-times-circle"></i>
            <p class="material-description-price">R$7,00</p>
          </div>
        </li>

        <li>
          <div class="img-checkbox">
            <input type="checkbox" class="form-check">
          </div>

          <p class="material-list-add-donation">Adicione R$1 a sua doação e nos ajude a manter a nossa plataforma.</p>
        </li>

        <li class="material-footer">
          <div>
            <p>Subtotal</p>
            <p>R$ 50,00</p>
          </div>
        </li>

      </ul>

      <div class="donation-info d-flex d-lg-none mb-4">
        <p>
          Entenda sua doação. Quem irá receber?
        </p>
        
        <div class="position-relative ms-2">
          <i class="far fa-question-circle" id="tooltip-question"></i>

          <div class="s-tooltip">
            <p class="mb-2">Enviamos os materias diretamente para a escola e eles receberão a doação em mãos.</p>
            <p>Assim que os produtos forem enviados, você receberá o código de rastreio para acompanhar.</p>
          </div>
        </div>
      </div>

      <div class="material-links">
        <a href="/pesquisar" class="btn btn-back">< Voltar</a>
        <a href="/doar/pagamento" class="btn btn-continue">CONTINUAR</a>
      </div>

    </div>

    <div class="confirmacao-box-info d-none d-xl-block">
      <h5 class="cor-1">Entenda sua doação</h6>

      <h6 class="my-5">Quem irá receber?</h6>
      <p class="mb-5">Os estudantes são verificados e vinculados à uma instituição de ensino.</p>
      <p class="mb-5">Enviamos os materias diretamente para a escola e eles receberão o material escolar em mãos.</p>
      <p>Assim que os produtos forem enviados, você receberá o código de rastreio para acompanhar.</p>
    </div>
  </div>
</div>

<script>
  let toggle = true;
  document.querySelector('#tooltip-question').addEventListener('click', function() {
    const divTooltip = document.querySelector('.s-tooltip');

    if(toggle) {
      divTooltip.style.transform = "translateY(calc(-100% - 30px)) scale(1)";
      toggle = false;
    } else {
      divTooltip.style.transform = "translateY(calc(-100% - 30px)) scale(0)";
      toggle = true;
    }
    
  });
</script>

<%- include('./templates/body.ejs') %>