<%- include('./templates/head.ejs') %>

<div class="container">
  <%- include('./templates/navtop.ejs') %>

  <section class="text-center">
    <img src="/img/image 6.svg" class="mb-4">    
    <h3 class="my-4 text-primary"><b> Nossos mais sinceros agradecimentos!</b></h3>    
    <h6 class="mb-3">Com <strong>segurança, agilidade, confiança e sem sair de casa</strong> você ajudou na <br>educação de um jovem estudante da rede pública.</h6>    
    <h6 class="mb-4">Agradecemos de verdade e esperamos ter você aqui conosco mais vezes.</h6>    
    <h5> <strong>Quanto mais pessoas ajudarem, melhor!</strong> </h5>
    <h5 class="mb-2 py-2"> <strong>Que tal compartilhar com os amigos e espalhar o bem?</strong></h5>    
    <img src="/img/whatsapp.svg" class="mb-4" width="40px">
    <img src="/img/facebook.svg" class="mb-4" width="40px">
    <img src="/img/instagram.svg" class="mb-4" width="40px">
    <img src="/img/linkedin.svg" class="mb-4" width="40px">
    <div class="mb-2 mt-4">
      <a class="btn-primary btn-lg">VOLTAR À PÁGINA INICIAL</a>
    </div>
    <p class="mb-4 mt-4">Sua nota fiscal será enviada para seu email.</p>
  </section>
  
</div>

<%- include('./templates/body.ejs') %>