<%- include('./templates/head.ejs') %>

<div class="container" style="min-height: 100%;">
  <%- include('./templates/navtop.ejs') %>


<div class="confirmacao-box my-5">
  <div class="confirmacao-box-content">
    Materiais para serem doados
  </div>

  <div class="confirmacao-box-info">
    
  </div>
</div>

<%- include('./templates/body.ejs') %>