<%- include('./templates/head.ejs') %>

<div class="container" style="min-height: 100%;">
  <%- include('./templates/navtop.ejs') %>

  <section class="text-center mt-3">
    <img src="/img/thanks.svg" class="mb-4">    
    <h2 class="my-4"> Nossos mais sinceros <span class="agradecimento">agradecimentos!</span></h2>    
    <h6 class="mb-3">Com <strong>segurança, agilidade, confiança e sem sair de casa</strong> 
      você ajudou na educação de um jovem<br> estudante da rede pública. Agora é com a gente. 
      Um de nossos parceiros realizará a entrega do<br> material escolar ao estudante. A nota 
      fiscal será enviada para seu email.</h6>    
    <h6 class="mb-4">Agradecemos de verdade e esperamos ter você aqui conosco mais vezes.</h6>    
    <h6 class="mb-0"> Quanto mais pessoas ajudarem, melhor! </h6>
    <h6 class="mb-2 py-2"> Que tal compartilhar com os amigos e espalhar o bem?</h6>    
    <img src="/img/whatsapp.svg" class="mb-4 mx-1" width="47px">
    <img src="/img/facebook.svg" class="mb-4 mx-1" width="47px">
    <img src="/img/instagram.svg" class="mb-4 mx-1" width="47px">
    <img src="/img/linkedin.svg" class="mb-4 mx-1" width="47px">
    <div class="margemBotao mt-1">
      <a class="btn  btn-outline-primary btn-sm py-3 px-3">VOLTAR À PÁGINA INICIAL</a>
    </div>
    
  </section>
  
</div>

<%- include('./templates/body.ejs') %>