<%- include('./templates/head.ejs') %>

<div class="container" style="min-height: 100%;">
  <%- include('./templates/navtop.ejs') %>

  <div class="card-flex my-5">
    <div class="card-payment-mobile-title d-lg-none">
      <h5>Escolha abaixo sua forma de pagamento</h5>
      <p class="mt-3">
          <i class="fas fa-lock"></i>
          <span class="card-payment-paragraph">Pagamento seguro</span>
        </p>
    </div>

    <div class="card-payment">
      
      <div class="card-payment-content">
        <div class="d-none d-lg-block">
          <h3>Escolha abaixo sua forma de pagamento</h3>
          <p class="mt-3">
            <i class="fas fa-lock"></i>
            <span class="card-payment-paragraph">Pagamento seguro</span>
          </p>
        </div>

        <div class="payment-methods">
          <div class="box-payment-method">
            <img src="/icons/Paypal_icon.svg" alt="paypal">
          </div>
          <div class="box-payment-method">
            <img src="/icons/Pagseguro_icon.svg" alt="pagseguro">
          </div>
          <div class="box-payment-method">
            <img src="/icons/boleto-logo 1.svg" alt="boleto">
          </div>
        </div>

        <!-- Form -->
        <div class="mt-5">
          <form action="" class="payment-form">
            <div class="form-group mb-4">
              <input type="text" placeholder="Nome no cartão" name="card_name">
            </div>

            <div class="form-group mb-4">
              <input type="text" placeholder="Número do cartão" name="card_number" maxlength="19">
            </div>
            
            <div class="d-flex justify-content-between">
              <div class="form-group mb-4">
                <input type="text" placeholder="Vencimento" class="payment-form-input-sm" name="card_due_date" maxlength="5">
              </div>
              
              <div class="form-group">
                <input type="text" placeholder="CVV" class="payment-form-input-sm" name="card_cvv" maxlength="4">
              </div>      
            </div>         
          </form>

          <!-- Voltar ou finalizar pagamento -->
          <div class="card-payment-buttons mt-5">
            <a href="/doar/confirmacao" class="btn btn-back d-none d-md-block">< Voltar</a>
            <a href="/doar/agradecimentos" class="btn btn-continue">Finalizar pagamento</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-payment-info">
      <h4 class="card-payment-info-title">Valor total</h4>
      <p class="card-payment-info-value">R$ 50,00</p>

      <hr>

      <h4 class="card-payment-info-title">Número do pedido</h4>
      <p class="card-payment-info-description">12345678</p>      

      <hr>

      <h4 class="card-payment-info-title">Local de entrega</h4>
      <p class="card-payment-info-description">EMEI José Bonifácio de Andrade e Silva, Santana - São Paulo - SP</p>

      <hr>

      <p class="card-payment-info-description">Você receberá imediatamente sua nota fiscal no e-mail cadastrado.</p>
      <p class="card-payment-info-description">Assim que os produtos forem enviados, você receberá o código de rastreio.</p>
    </div>
  </div>
</div>

<script>
  /**
   * Efeitos para os meios de pagamento
   */
  var formasDePagamento = document.querySelectorAll('.box-payment-method');

  formasDePagamento.forEach(value => {
    value.addEventListener("click", addBorder);
  })

  function addBorder(e) {
    removeAllBorders();
    this.style.border = "1px solid #397EF3";
  }

  function removeAllBorders() {
    formasDePagamento.forEach(value => {
      value.style.border = "none";
    })
  }

  /**
   * Tratamento de texto nos campos do formulário 
   */

  // Tratamento de texto para o campo card_number
  var input_card_number = document.querySelector('input[name="card_number"]');

  input_card_number.addEventListener("keyup", function(e) {
    if(e.keyCode != 8) {
      // Array de validações para saber se o espaço deverá ou não ser incluído no value do input
      var validacoes = [
        this.value.length == 4,
        this.value.length == 9,
        this.value.length == 14
      ];

      // Para cada letra digitada, se validação for verdadeira, espaço é adicionado
      validacoes.forEach(value => {
        if(value) {
          this.value = this.value + " ";
        }
      });
    }
  });

  // Tratamento de texto para o campo card_due_date
  var input_card_due_date = document.querySelector('input[name="card_due_date"]');

  input_card_due_date.addEventListener("keyup", function(e) {
    if(e.keyCode != 8) {
      
      if(this.value.length == 2) this.value = this.value + "/";
    }
  });
  
</script>

<%- include('./templates/body.ejs') %>