<%- include('./templates/head.ejs') %>

<div class="container">
  <%- include('./templates/navtop.ejs') %>

  <main class="card-d">
    <div class="card-d-photo">FOTO</div>
    <div class="card-d-content">CONTEÚDO ABAIXO DA FOTO</div>
  </main>
  
  
</div>

<%- include('./templates/body.ejs') %>