<%- include('./templates/head.ejs') %>

<div class="container" style="min-height: 100%; position: relative;">
  <%- include('./templates/navtop.ejs') %>

  <div class="announcement-flex">
    <!-- Left Side Progress Bar -->
    <div class="side-progress-bar d-none d-lg-block">
      <img src="/img/tracking.svg" alt="tracking">
    </div>

    <div class="announcement-content">
      <h5>Informações sobre matrícula</h5>
      <p>Para garatirmos que a criança está vinculada à uma institução de ensino, precisamos de algumas informações. Tudo bem?</p>

      <form action="" class="mt-5">
        <div class="row">
          
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Estado</label>
              <select class="form-control" disabled></select>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Cidade</label>
              <select class="form-control" disabled></select>
            </div>
          </div>

        </div>

        <div class="row">
          
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Nome da escola</label>
              <select class="form-control" disabled></select>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Data de nascimento do aluno</label>
              <input type="date" class="form-control" disabled>
            </div>
          </div>

        </div>

        <label for="">Número de registro do aluno (RA)</label>
        <div class="announcement-form">
          <input type="text" class="form-control" placeholder="0001234" disabled>
          
          <p>-</p>

          <input type="text" class="form-control" placeholder="1" disabled>

          <p>/</p>

          <input type="text" class="form-control" placeholder="SP" disabled>

          <div class="ra-info">
            <p>Não sabe o número do RA?</p>
            <a href="https://sed.educacao.sp.gov.br/NCA/CadastroAluno/ConsultaRAAluno">Consulte aqui</a>
          </div>
        </div>

        <div class="announcement-form-bottom-label mb-5">
          <label for="">Não consigo consultar o RA, preciso de ajuda.</label>
        </div>

      </form>

      <div class="card-d-links">
        <a href="/anunciar" class="btn btn-back d-none d-lg-block">< Voltar</a>
        <a href="/anunciar/anuncio" class="btn btn-continue">SALVAR DADOS</a>
      </div>
    </div>
  </div>
</div>

<%- include('./templates/body.ejs') %>