<%- include('./templates/head.ejs') %>

<div class="container" style="min-height: 100%;">
  <%- include('./templates/navtop.ejs') %>

  <div class="announcement-flex">
    <!-- Left Side Progress Bar -->
    <div class="side-progress-bar">
      <img src="/img/tracking-2.svg" alt="tracking">
    </div>

    <div class="announcement-content">
      <h5 class="mb-4">Escolha quais materiais você precisa</h5>

      <h5 class="fw-normal">Lista de material escolar</h5>
      <p class="announcement-subtitle">Escolha apenas o que você precisa. Lembre-se que existem mais estudantes precisando de material escolar</p>


      <form action="" class="mt-5">
        <p class="announcement-title">Título do anúncio</p>
       

      </form>

      <div class="card-d-links">
        <a href="/pesquisar" class="btn btn-back">< Voltar</a>
        <a href="/doar/confirmacao" class="btn btn-continue">SALVAR DADOS</a>
      </div>
    </div>
  </div>
</div>

<%- include('./templates/body.ejs') %>