<%- include('./templates/head.ejs') %>

<div class="container">
  <%- include('./templates/navtop.ejs') %>
</div>

<div class="container announcement-container">
  <div class="announcement">
    <img src="/img/fluxo-final-imagem.svg" alt="imagem" class="d-none d-md-inline">
    <h1 class="my-3">Cadastro <span class="text-highlight">finalizado!</span></h1>

    <p class="mt-3 mb-4 announcement-title">Agora é com a Doei! Em breve seu anúncio estará disponível para centenas de pessoas que desejam contribuir para a educação brasileira. Assim que você receber uma doação, você será notificado pelo email cadastrado com os próximos passos.</p>
    <p class="mt-3 mb-2 announcement-title">Gostou da nossa iniciativa? Que tal compartilhar com estudantes que também precisam de material escolar? Compartilhe o bem.</p>
  
    <img src="/img/ícones-redes-sociais.svg" alt="redes-sociais">

    <p class="mt-4">
      <a href="/" class="btn btn-outline">VOLTAR À PÁGINA INICIAL</a> 
    </p>
  </div>
</div>

<%- include('./templates/body.ejs') %>