<%- include('./templates/head.ejs') %>

<div class="container">
  <%- include('./templates/navtop.ejs') %>
</div>

<div class="container announcement-container">
  <div class="announcement">
    <h1>Fazer o <span class="text-highlight">anúncio</span> de um pedido</h1>

    <p>Começaremos o seu cadastro para criar o anúncio do seu pedido.</p>
    <p>Qualquer pessoa que ver o seu anúncio no nosso site poderá lhe presentear com o material escolar que o aluno está precisando.</p>

    <p>Seus dados pessoais não serão compartilhados com a pessoa que doar e você receberá o material escola diretamente na escola do aluno.</p>

    <a href="/anunciar/matricula" class="btn btn-continue">COMEÇAR</a>
  </div>
</div>

<%- include('./templates/body.ejs') %>