<%- include('./templates/head.ejs') %>

<div class="container mb-5" style="min-height: 100%;">
  <%- include('./templates/navtop.ejs') %>

  <div class="announcement-flex">
    <!-- Left Side Progress Bar -->
    <div class="side-progress-bar">
      <img src="/img/tracking-3.svg" alt="tracking">
    </div>

    <div class="announcement-content">
      <h5 class="mb-5">Agora vamos fazer seu anúncio?</h5>

      <form action="" class="mt-5">
        <p class="announcement-title mb-2">Papelaria</p>
        
        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Caderno universitário 200 folhas</label>
        </div>    
        
        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Caderno universitário 90 folhas</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Lápis HB N°2</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Caneta esferográfica azul/preta</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Apontador com depósito</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Borracha branca</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Lápis de cor 12 cores</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Régua 30cm</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Agenda escolar</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Estojo</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Mochila infantil</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Mochila juvenil</label>
        </div> 
        

        <p class="announcement-title mb-2">Livraria</p>

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Dicionário português</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Dicionário inglês</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Livro para vestibular - Matemática</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Livro para vestibular - Lingua Portuguesa</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Livro para vestibular - Química</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Livro para vestibular - Física</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Livro para vestibular - Biologia</label>
        </div> 

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Livro para vestibular - Geografia</label>
        </div>
        
        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Livro para vestibular - Inglês</label>
        </div>

        <p class="announcement-title mb-2">Informática</p>

        <div class="announcement-checkbox">
          <input type="checkbox" class="form-check">
          <label for="">Notebook</label>
        </div>
      </form>

      <div class="card-d-links">
        <a href="/anunciar/anuncio" class="btn btn-back">< Voltar</a>
        <a href="/anunciar/finalizacao" class="btn btn-continue">PUBLICAR</a>
      </div>
    </div>
  </div>
</div>

<%- include('./templates/body.ejs') %>