<%- include('./templates/head.ejs') %>

<div class="container">
  <!-- DEV Sandro -->
  <header>
    <div class="logo">Logo</div>

    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <button>DOAR</button>

    <div>Informações do usuário</div>

  </header>

  <section>
    
    <!-- DEV Gabriel -->

    <!-- DEV Marcelo -->

  </section>
</div>

<%- include('./templates/body.ejs') %>