<%- include('./templates/head.ejs') %>

<div class="container">
  <%- include('./templates/navtop.ejs') %>

  <section>
    
    <!-- DEV Gabriel -->

    <!-- DEV Marcelo -->

  </section>
</div>

<%- include('./templates/body.ejs') %>