<%- include('./templates/head.ejs') %>

<div class="container" style="min-height: 100%;">
  <%- include('./templates/navtop.ejs') %>

  <section class="main">
    <img src="/public/img/textLP.svg" alt="apoie estudantes a chegarem cada vez mais longe">
    <img src="/public/img/imgLP.svg" alt="garoto segurando livros">
  </section>
</div>

<%- include('./templates/body.ejs') %>