<%- include('./templates/head.ejs') %>

<div class="container">
  <%- include('./templates/navtop.ejs') %>

  <section>

    <!-- DEV Gabriel -->
    
<div class="titulo">
  <center>
    <h4 id="titulo" class= "mt-5" id="titulo">Escolha um anúncio e presenteie um estudante</h4>
  </center>
</div>

<div class="dropdown mt-5" name="buttons-group">
  <!-- Cidade -->
  <button id="dropdown-item-1" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Cidade
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <!-- <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a> -->
  </div>
  <!-- Produto -->
  <button id="dropdown-item-2" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Produto
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <!-- <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a> -->
  </div>
  <!-- Valor -->
  <button id="dropdown-item-3" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Valor
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <!-- <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a> -->
  </div>
  <!-- 'Aplicar filtros' -->
  <a id="link" href="#">Aplicar filtros</a>
  <!-- Buscar -->
  <div id="busca" class="input-group rounded">
    <input id="busca-1" type="search" class="form-control rounded" placeholder="Pesquise um anúncio ou escola" aria-label="Search"
      aria-describedby="search-addon" />
    <span id="busca-2" type="button" class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>
</div>

    <!-- DEV Marcelo -->
<div class="row mb-5 mt-5">
  <!-- card1 -->
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="img/image-card.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title-tela1">Livros para vestibular</h5>
        <p class="card-text-nome">Rafaela Silva</p>
        <p class="card-text-localizacao">São Paulo - SP</p>
        <p class="card-text-info">Estou no 3° ano e preciso estudar para o vestibular mas meus pais nãos tem condições. Preciso de ajudar para...</p>
        <img class="imagem-user-icon" src="img/icon-local.svg" alt="user_icon">
        <p class="card-nome-escola">EMEI José Bonifácio... Santana, SP</p>
        <button class="card-btn">Saiba mais</button>
      </div>
    </div>
  </div>
  <!-- card2 -->
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="img/image-card.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title-tela1">Material escolar</h5>
        <p class="card-text-nome">João Santos</p>
        <p class="card-text-localizacao">São Paulo - SP</p>
        <p class="card-text-info">Preciso comprar o material escolar dos meus 3 filhos. Sou autônoma e durante a pandemia ficou tudo mais difícil. </p>
        <img class="imagem-user-icon" src="img/icon-local.svg" alt="user_icon">
        <p class="card-nome-escola">EMEI José Bonifácio... Santana, SP</p>
        <button class="card-btn">Saiba mais</button>
      </div>
    </div>
  </div>
  <!-- card3 -->
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="img/image-card.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title-tela1">Notebook para estudo</h5>
        <p class="card-text-nome">Marcia Souza</p>
        <p class="card-text-localizacao">São Paulo - SP</p>
        <p class="card-text-info">Não temos computador para assistir as aulas online. Alguém podia nos ajudar a comprar um para nossa casa.</p>
        <img class="imagem-user-icon" src="img/icon-local.svg" alt="user_icon">
        <p class="card-nome-escola">EMEI José Bonifácio... Santana, SP</p>
        <button class="card-btn">Saiba mais</button>
      </div>
    </div>
  </div>
<div>
<div class="row mt-3">
  <!-- card4 -->
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="img/image-card.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title-tela1">Livros para vestibular</h5>
        <p class="card-text-nome">Maria Silva</p>
        <p class="card-text-localizacao">São Paulo - SP</p>
        <p class="card-text-info">Estou no 3° ano e preciso estudar para o vestibular mas meus pais nãos tem condições. Preciso de ajudar para...</p>
        <img class="imagem-user-icon" src="img/icon-local.svg" alt="user_icon">
        <p class="card-nome-escola">EMEI José Bonifácio... Santana, SP</p>
        <button class="card-btn">Saiba mais</button>
      </div>
    </div>
  </div>
  <!-- card5 -->
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="img/image-card.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title-tela1">Livros para vestibular</h5>
        <p class="card-text-nome">Maria Silva</p>
        <p class="card-text-localizacao">São Paulo - SP</p>
        <p class="card-text-info">Estou no 3° ano e preciso estudar para o vestibular mas meus pais nãos tem condições. Preciso de ajudar para...</p>
        <img class="imagem-user-icon" src="img/icon-local.svg" alt="user_icon">
        <p class="card-nome-escola">EMEI José Bonifácio... Santana, SP</p>
        <button class="card-btn">Saiba mais</button>
      </div>
    </div>
  </div>
  <!-- card6 -->
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="img/image-card.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title-tela1">Livros para vestibular</h5>
        <p class="card-text-nome">Maria Silva</p>
        <p class="card-text-localizacao">São Paulo - SP</p>
        <p class="card-text-info">Estou no 3° ano e preciso estudar para o vestibular mas meus pais nãos tem condições. Preciso de ajudar para...</p>
        <img class="imagem-user-icon" src="img/icon-local.svg" alt="user_icon">
        <p class="card-nome-escola">EMEI José Bonifácio... Santana, SP</p>
        <button class="card-btn">Saiba mais</button>
      </div>
    </div>
  </div>

  <button class="btn-last" style="text-align: center;">Ver mais resultados</button>
  
</div>


  </section>
</div>

<%- include('./templates/body.ejs') %>