<%- include('./templates/head.ejs') %>

<div class="container" style="min-height: 100%;">
  <%- include('./templates/navtop.ejs') %>

  <section class="main">
      <div class="main-content">
        <h1 class="d-none d-md-block"><span class="mt-3 text-highlight mb-4">Apoie estudantes</span> &nbsp; a chegarem <br>cada vez mais longe</h1>
        <h1 class="d-md-none"><span class="text-highlight">Apoie</span> <span class="text-highlight">estudantes</span> a chegarem cada vez mais longe</h1>
        <h5 class="mt-4 mb-4" id="donation">Doe materiais escolares para jovens e crianças da <br>educação pública brasileira</h5>
        <a href="/pesquisar" class="btn btn-primary mt-4 py-3 px-4 d-none d-lg-block" id="buttonDonation">FAZER UMA DOAÇÃO</a>
      </div>

      <div class="main-image d-none d-lg-block">
        <img src="/img/imgLP.png" alt="imagem">
      </div>

      <a href="/pesquisar" class="btn btn-primary mt-5 py-3 px-4 d-lg-none" id="buttonDonation">FAZER UMA DOAÇÃO</a>
  </section>
  <section class="initiative">
    <h2>Conheça a nossa iniciativa</h2>
      <div class="triple">
        <div class="eachInitiative">
          <img src="/img/imgIniciativa.svg">
          <h6>Facilitamos doações de maneira <strong>segura, confiável, prática e eficiente.</strong> Você não precisa nem sair de casa. </h6>
        </div>
        <div class="eachInitiative">
          <img src="/img/imgIniciativa2.svg">
          <h6>Unimos pessoas empáticas às causas educacionais a pais e alunos de escolas públicas que necessitam de material escolar.</h6>
        </div>
        <div class="eachInitiative">
          <img src="/img/imgIniciativa3.svg">
          <h6>Transparência em todo o processo. Garantimos que toda doação se destine às pessoas que precisam.</h6>
          </div>
      </div>
  </section>
</div>

<section class="make">
  <div class="container">
  <h3>Doe e construa o futuro de um estudante</h3>
  <div class="ourNunbers">
    <div class="ourNumbers2 py-4 px-3">
      <h1>+18 mil</h1>
      <h6>Produtos escolares doados para jovens e crianças</h6>
    </div>
    <div class="ourNumbers2 py-4 px-3">
      <h1>+4 mil</h1>
      <h6>Estudantes apoiados com esta iniciativa social</h6>
    </div>
    <div class="ourNumbers2 py-4 px-3">
      <h1>+2 mil</h1>
      <h6>Doadores apoiando o futuro dos estudantes</h6>
    </div>
  </div>
  <a href="/pesquisar" id="donateButton">FAZER UMA DOAÇÃO</a>
  </div>
</section>
<div class="container">
  <section class="howItWorks">
    <div class="howItWorks-header">
      <h2>Como a Doei! <span class="text-highlight">funciona</span></h2> 
      <button id="help"><h4>Quero ajudar</h4></button>
      <button id="helped"><h4>Quero ser ajudado</h4></button>
    </div>

    <img id="help1" class="selected" src="/img/Como-funciona-Quero-ajudar.svg">
    
    <img id='help2' class="notSelected" src="/img/Como-funciona-quero-ser-ajudado.svg">
    
  </section>
  <section class="history">
    <h3>Conheça algumas histórias de <span class="text-highlight">estudantes</span> e doadores</h3>
    <div class="peopleHistory">
      <div class="arrowButton">
          <img src="img/leftarrow.svg" id="leftButton">
      </div>

      <div id="karinaDiv" class="divHistories selected">
        <img src="/img/fotoKarina.svg" class="photos">
        <div class="testimony">
          <h6>Karina</h6>
          <p>Foi através do Doei! que consegui os livros necessários para o vestibular que minha mãe não tinha condições de comprar. Sou muito grata a todos que me apoiaram.</p>
        </div>
      </div>
      <div id="ritaDiv" class="divHistories notSelected">
        <img src="/img/fotoRita.svg" class="photos">
        <div class="testimony">
            <h6>Rita</h6>
            <p>Consegui adquirir o material que o meu filho precisava para iniciar as aulas, sem esperar por meses. O Doei! chegou na hora certa. Me ajudou muito.</p>
        </div>
      </div>
      <div id="pedroDiv" class="divHistories notSelected">
        <img src="/img/fotoPedro.svg" class="photos">
        <div class="testimony">
          <h6>Pedro</h6>
          <p>Através do Doei! ajudei a crianças carentes a terem ao menos o mínimo para estudarem. É com a educação que podemos construir o futuro</p>
        </div>
      </div>
      <div class="arrowButton">
        <img src="img/rightarrow.svg" id="rightButton">
      </div>
    </div>
    <div id="buttons">
      <a href="/pesquisar" class="btn btn-primary">FAZER UMA DOAÇÃO</a> 
      <a href="/anunciar" class="btn btn-outline-primary" id="needDonationButton">PRECISO DE DOAÇÃO</a>
    </div>
  </section>
</div>
<%- include('./templates/body.ejs') %>