/* Html tags */
html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
}

*, h1, h3, h5, p, ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

/* Navbar topo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}

.navbar-list {
    margin: 0 0 0 30px;
}

.navbar-list ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    list-style: none;
}

.navbar-list a {
    display: block;
    padding: 0 30px;
    color: #727272;
}

.navbar-donate-link {
    background-color: #FCCD54;
    padding: 12px 7px 10px 7px;
    margin-right: 37px;
    border-radius: 5px;
    color: black;
    font-size: 12px;
    font-weight: 500;
    transition: .2s;
}

.navbar-donate-link:hover {
    background: #F0B620;
}

.navbar-donate-link:active {
    background: #FFD874;
}

.navbar-user {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar-user p {
    margin: 0;
    padding: 0;
}

.navbar-user-content {
    margin-left: 8px;
}

.navbar-user-content h5,
.navbar-user-content span {
    line-height: 1.3;
}

.navbar-user-content h5 {
    font-size: 16px;
}

.navbar-user-content span {
    display: block;
    font-size: 12px;
}

.navbar-user-dropdown {
    display: block;
    margin: 0 10px;
    align-self: start;
}

.navbar-user-dropdown i {
    font-size: 1.8rem;
    color: #397EF3;
}

.navbar-user-dropdown i:hover {
    cursor: pointer;
}

/* Card donation */
.card-d {  
    margin-bottom: 60px;
    box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
    border-radius: 32px;
}

.card-d-photo {
    margin-top: 54px;
    text-align: center;
    padding: 109px 0;
    border-radius: 32px;
    background: #EEF3F7;
}

.card-d-container {
    display: flex;
    padding: 0 30px;
}

.card-d-content {
    flex-grow: 2;
    flex-basis: 0;
    padding: 13px 80px 77px 50px;
}

.card-d-info {
    flex-grow: 1;
    flex-basis: 0;

    background: rgba(255, 146, 146, 0.1);
    padding: 27px 20px 40px 20px;
    height: max-content;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
    border-radius: 32px;
    margin: 10px 0 30px 0;
}

.card-d-info-title {
    color: #528EF5;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}

.card-d-info-subtitle {
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
}

.card-d-localization {
    color: #51535F;
}

.card-d-modalidade {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Product box */
.product-box {
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 14px;
    background: white;
    display: flex;
}

.product-logo {
    background: #EEF3F7;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 92px;
    flex-shrink: 0;
}

.product-content {
    padding: 7px 14px;
    text-align: left;
}

.product-title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 6px;
}

.product-subtitle {
    font-size: 12px;
    margin-bottom: 6px;
}

.product-price {
    font-size: 16px;
    font-weight: 700;
    color: #FF9292;
}

.product-box .form-check-input {
    width: 20px;
    height: 20px;
}

.product-box {
    margin-bottom: 24px;
}

.product-box:last-child {
    margin-bottom: 0;
}
/* */

.btn-back {
    color: #51535F;
}

.btn-continue {
    background: #397EF3;
    border-radius: 5px;
    padding: 11px 20px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-left: 64px;
}

.btn-continue:hover {
    color: white;
    background: #0060C7;
}

.btn-continue:active {
    background: #5E97D5;
}

/* estrutura-tela-1 */

.imagem-banner{
    margin-top: 23px;
    background: #EEF3F7;
    padding: 90px;
    text-align: center;
}

#titulo{
    height: 36px;
    left: 463px;
    top: 115px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}

#pesquisar-anuncio{
    width: 384px;
    height: 26px;
    font-size: 16px;
    color: #51535F;
    margin-bottom: 10px;
}

#dropdown-item-1{
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #CAD1E2;
    left: 18.02%;
    right: 36.94%;
    top: 16.67%;
    bottom: 16.67%;
    color: #51535F;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    background-color: white;
    width: 111px;
    height: 36px;
}

#dropdown-item-2{
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #CAD1E2;
    left: 18.02%;
    right: 36.94%;
    top: 16.67%;
    bottom: 16.67%;
    color: #51535F;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    background-color: white;
    width: 111px;
    height: 36px;
}

#dropdown-item-3{
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #CAD1E2;
    left: 18.02%;
    right: 36.94%;
    top: 16.67%;
    bottom: 16.67%;
    color: #51535F;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    background-color: white;
    width: 111px;
    height: 36px;
}

#link {
    width: 90px;
    height: 24px;
    font-size: 14px;
    color: #1352AF;
    margin-left: 1.5ch ;
}

.busca {
    height:33px;
    width:360px;
    position: relative;
}

.busca .fa-search {
    position: absolute;
    top: 13px;
    left: 12px;
    z-index: 10;
}

.busca input {
    background-color: transparent;
    border-color: #A9A9A9;
    padding-left: 40px;
}

.card {
    margin-top: 24px;
    border: 1px solid #C4C4C4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.card-btn{
    color: white;
    border: transparent;
    border-radius: 4px;
    margin-top: 15px;
    float: right;
    width: 81px;
    height: 24px;
    background-color: #397EF3;
    font: Inter;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
}

.card-text-info{
    font-family: Inter;
    font-style: normal;
    font-size: 14px;
    margin-top: 15px;
    width: 311px;
    height: 51px;
    float: left;
}

.card-text-nome{
    border-right: 1px solid #CAD1E2;
    margin-top: 3px;
    float: left;
    width: 94.43px;
    height: 18px;
    font: Inter;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
}

.card-text-localizacao{
    margin-left: 14.45px;
    margin-top: 3px;
    float: left;
    width: 117px;
    height: 18px;
    font: Inter;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
}

.imagem-user-icon{
    margin-top: 25px;
    float: left;
    width: 16px;
    height: 16px;
}

.card-nome-escola{
    font-family: Inter;
    font-weight: 300;
    line-height: 150%;
    color: #51535F;
    margin-left: 4px;
    margin-top: 25px;
    float: left;
    width: 197px;
    height: 18px;
    font-size: 12px;
}

.btn-last{
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
    font-weight: bold;
    font-size: 20px;
    color: #397EF3;
    background-color: transparent;
    border: 1px solid #397EF3;
    box-sizing: border-box;
    border-radius: 10px;
    width: 248px;
    height: 68px;
}

/* Card payment e card payment info */
.card-payment {
    flex-grow: 2;
    flex-basis: 0;
    margin: 0 20px 0 0;
    box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
    padding: 94px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
}

.card-payment-paragraph {
    font-weight: 300;
}

.box-payment-method {
    height: 64px;
    width: 128px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
}

.box-payment-method:hover {
    transform: scale(1.1);
}

.box-payment-img {
    height: 54px;
}

.box-payment-img img {
    height: 100%;
}

.payment-form input[type="text"] {
    border: 0px;
    border-bottom: 2px solid #CAD1E2;
    font-size: 20px;
    width: 393px;
    padding-left: 10px;
    outline: none;
}

.payment-form-input-sm {
    width: 151px !important;
}

.card-payment-buttons {
    display: flex;
    width: 393px;
}

.card-payment-buttons a:last-child {
    margin-left: 32px;
}

.card-payment-buttons .btn-back {
    font-size: 20px;
}

.card-payment-buttons .btn-continue {
    padding: 9px 14px;
    font-size: 14px;
    text-transform: uppercase;
    height: max-content;
}

.card-payment-info {
    background-color: rgba(255,146,146, 0.1);
    padding: 73px 57px 73px 57px;
    border-radius: 32px;
    flex-basis: 0;
    flex-grow: 1;
}

.card-payment-info-title {
    font-size: 20px;
    font-weight: 400;
}

.card-payment-info-value {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    color: #397EF3;
}

.card-payment-info hr {
    border: 1px solid #EEF3F7;
    margin: 24px 0;
    background: #51535F;
}

p.card-payment-info-description:last-child {
    margin-top: 16px;
}

/* info tela confirmacao */

#confirmacao-content-box{
    border-radius: 32px;
    margin-bottom: 184px;
    box-shadow: 2px 2px 8px rgba(85, 1, 175, 0.24);
    margin-top: 46px;
    border: 1px solid #EEF3F7;
    width: 1135px;
    height: 888px;
}

.confirmacao-titulo{
    margin-top: 104px;
    margin-left: 115px;
    font-size: 24px;
    font: Nunito;
    line-height: 36px;
}

.card-confirmacao-produtos1{
    border-bottom: 1px solid #E2E6EF;
    float: left;
    margin-left: 115px;
    margin-top: 37px;
    width: 600px;
    height: 122px;
}

.card-confirmacao-produtos{
    border-bottom: 1px solid #E2E6EF;
    float: left;
    margin-left: 115px;
    width: 600px;
    height: 122px;
}

.card-confirmacao-img{
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 82px;
    height: 82px;
}

.card-confirmacao-title{
    width: 397px;
    height: 18px;
    margin-bottom: 20px;
    font: Inter;
    font-size: 20px;
    line-height: 24px;
}

.card-confirmacao-text{
    width: 247px;
    height: 42px;
    font: Inter;
    color:#1352AF;
    font-size: 14px;
    line-height: 130%;
}

.card-confirmacao-body{
    height: 100px;
    width: 300px;
    margin-top: 10px;
    float: left;
}

.imagem-produto{
    width: 110px;
}

.icone-lixo{
    margin-left: 40px;
    float: right;
    width: 11px;
}

.card-confirmacao-preco{
    width: 64px;
    height: 24px;
    margin-top: 80px;
    float: right;
    font: Inter;
    color: #212832;
}

.imagem-lixo{
    margin-right: 10px;
    float: right;
    margin-top: 10px;
    width: 18px;
    height: 20px;
}

.card-confirmacao-subtotal{
    margin-top: 17px;
    float: left;
    color: #212832;
    font: Inter;
    font-size: 16px;
    width: 101px;
    height: 24px;
    margin-left: 200px;
}

.card-confirmacao-produtos-subtotal{
    border-bottom:  1px solid #E2E6EF;
    float: left;
    margin-left: 115px;
    width: 600px;
    height: 88px;
}

.card-confirmacao-valor{
    margin-right: 43px;
    margin-top: 19px;
    float: right;
    color: #212832;
    font: Inter;
    font-size: 16px;
    width: 68px;
    height: 21px;
}

.confirmacao-info-box{
    background-color: #fff5f5;
    margin-right: 35px;
    border-radius: 32px;
    box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
    float: right;
    width: 375px;
    height: 528px;
}

.confirmacao-info-box-title{
    margin-top: 35px;
    margin-left: 63px;
    color: #397EF3;
    font-family: Nunito;
    font-style: normal;
    font-size: 24px;
    width: 224px;
    height: 43px;
}

.confirmacao-info-box-subtitle1{
    margin-left: 63px;
    margin-top: 19px;
    color: #000000;
    font-size: 20px;
    width: 178.26px;
    height: 24px;
}


.confirmacao-info-box-content1{
    font-style: normal;
    font-weight: 300;
    color: #51535F;
    font-family: Inter;
    margin-left: 63px;
    margin-top: 32px;
    font-size: 16px;
    width: 236px;
    height: 77px;
}

.confirmacao-info-box-content2{
    font-style: normal;
    font-weight: 300;
    color: #51535F;
    font-family: Inter;
    margin-left: 63px;
    margin-top: 24px;
    font-size: 16px;
    width: 258px;
    height: 76px;
}

.confirmacao-info-box-content3{
    font-style: normal;
    font-weight: 300;
    color: #51535F;
    font-family: Inter;
    margin-left: 63px;
    margin-top: 24px;
    font-size: 16px;
    width: 263px;
    height: 71px;
}

.confirmacao-checkbox{
    font-size: 16px;
    margin-top: 21px;
    margin-left: 65px;
    float: left;
    width: 407px;
    height: 45px;
}

.botao-realizar-doacao{
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    background-color: #397EF3;
    border-radius: 5px;
    border: 1px solid #397EF3;
    margin-left: 50px;
    margin-top: 110px;
    width: 175.06px;
    height: 48px;
}

.botao-realizar-doacao a {
    color: white;
}

.botao-voltar-confirmacao{
    float: left;
    margin-top: -40px;
    margin-left: 160px;
    border: transparent;
    background-color: transparent;
    font-size: 20px;
    width: 85px;
    height: 24px;
}

#add-um-real{
    color: #0B4FAB;
}

/* Footer */
footer {
    padding: 60px 0;
    background: #51535F;
    color: white;
    box-sizing: border-box;
}

footer a {
    color: #E2E6EF;
}

footer a:hover {
    color: #E2E6EF;
}

footer ul {
    margin-bottom: 50px;
}

footer ul li {
    margin-bottom: 16px;
}

footer ul li:last-child {
    margin-bottom: 0;
}

footer h6 {
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: #E2E6EF;
}

.footer-column ul:last-child {
    margin-bottom: 0;
}

.footer-logo {
    margin-top: 158px;
}