/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Html tags */
html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
}

*, h1, h3, h5, p, ul {
    margin: 0;
    padding: 0;
}

h1, h5 {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #45464E;
}

h5 {
    font-weight: 600;
    font-size: 24px;
}

h6 {
    font-weight: 400;
    font-size: 20px;
    color: #212832;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

/* Genéricas */

.font-weight-600 {
    font-weight: 600;
}

.cor-1 {
    color: #397EF3;
}

/* Navbar topo */
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.fa-bars,
.fa-user {
    font-size: 1.5rem;
    color: #51535F;
}

.fa-caret-down {
    font-size: 1.5rem;
    color: #397EF3;
}

.bars-dropdown {
    position: relative;
}

.bars-dropdown i {
    pointer-events: none;
}

.bars-dropdown .navbar-dropdown-list {
    border-radius: 0;
    width: 250px;
    padding: 0;
    display: none;
    left: 0;
}

.navbar-list {
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.navbar-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    list-style: none;
}

.navbar-list a {
    display: block;
    padding: 0 30px;
    color: #727272;
}

.navbar-donate-link {
    background-color: #FCCD54;
    padding: 12px 7px 10px 7px;
    margin-right: 37px;
    border-radius: 5px;
    color: black;
    font-size: 12px;
    font-weight: 500;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.navbar-donate-link:hover {
    background: #F0B620;
}

.navbar-donate-link:active {
    background: #FFD874;
}

.navbar-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.navbar-user p {
    margin: 0;
    padding: 0;
}

.navbar-user-content {
    position: relative;
}

.navbar-user-content div {
    pointer-events: none;
}

.navbar-user-content div.navbar-dropdown-list {
    pointer-events: auto;
}

.navbar-user-content:hover {
    cursor: pointer;
}

.navbar-user-content h5,
.navbar-user-content span {
    line-height: 1.3;
}

.navbar-user-content h5 {
    font-size: 16px;
}

.navbar-user-content span {
    display: block;
    font-size: 12px;
}

.navbar-user-dropdown {
    display: block;
    margin: 0 10px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    pointer-events: none;
}

.navbar-user-dropdown i {
    font-size: 1.8rem;
    color: #397EF3;
}

.navbar-user-dropdown i:hover, .bars-dropdown:hover {
    cursor: pointer;
}

.navbar-user-dropdown-mobile {
    pointer-events: none;
}

.navbar-dropdown-list {
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: white;
    padding: 14px 0px;
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    color: #212832;
    top: 100%;
    right: 0;
    display: none;
    z-index: 9999;
}

.navbar-dropdown-list a {
    display: block;
    padding: 7px 23px;
}

.navbar-dropdown-list a:hover {
    background: #E2E6EF;
    color: #1152A9;
}

.navbar-dropdown-list a i {
    width: 18px;
    margin-right: 10px;
}

.navbar-dropdown-list .activity-link {
    color: #51535F;
}

.navbar-dropdown-list-title {
    color: #818181;
    font-weight: 500;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    padding: 0 23px;
}

.navbar-dropdown-list-title:not(:first-child) {
    margin-top: 10px;
}

/* Card donation */
.card-d {  
    margin-bottom: 60px;
    -webkit-box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
            box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
    border-radius: 32px;
}

.card-d-photo {
    margin-top: 54px;
    border-radius: 32px 32px 0 0;
    background: #EEF3F7;
    height: 150px;
    background-image: url('/img/image 1-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-d-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px;
}

.card-d-content {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    padding: 13px 80px 77px 50px;
}

.card-d-info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;

    background: rgba(255, 146, 146, 0.1);
    padding: 27px 20px 40px 20px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    text-align: center;
    -webkit-box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
            box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
    border-radius: 32px;
    margin: 10px 0 30px 0;
}

.card-d-info-subtitle {
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
}

.card-d-localization {
    color: #51535F;
}

.card-d-modalidade {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.card-d-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* Landing page */
.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 70px 0;
    color: #51535F;
}

.main > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
}

.main-content {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.main-image img {
    width: 100%;
}

#boyImage {
    width: 50%;
    z-index: 1;
    float: right;
}

#buttonDonation {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: bold;
    background-color:#397EF3;
    border: none;
}

#divArrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.arrowIcon {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 500%;
    opacity: 50%;
    -ms-flex-item-align:end;
        align-self:flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -ms-grid-column-align: center;
        justify-self: center;
}

.initiative {
    padding-bottom: 50px;
    color: #51535F;
}

.initiative h2 {
    margin-bottom: 30px;
    text-align: center;
}

.triple {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.triple > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 285px;
            flex: 0 1 285px;
}

.eachInitiative {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 22%;
}

.eachInitiative h6 {
    padding-top: 15px;
}

.make {
    background-color: #397EF3;
    color: white;
    text-align: center;
    padding-bottom: 80px;
}

.make h1, .make h6 {
    color: white;
}

.make h3 {
    margin-bottom: 30px;
    text-align: center;
    padding-top: 25px;
}

.ourNunbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-bottom: 5%;
    grid-gap: 20px;
}

.ourNumbers2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    min-width: 240px;
    width: 240px;
    border: solid 2px;
    border-color: #FCCD54;
    border-radius: 10px;
    color: #EEF3F7;
}

.ourNumbers2:nth-of-type(1) {
    margin: 0;
}

#donateButton {
    background-color: #FCCD54;
    border-radius: 10px;
    color: 51535F;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 2% 5%;
}

.howItWorks {
    padding: 40px 0;
}

.howItWorks-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.howItWorks-header button#helped,
.howItWorks-header button#help {
    padding: 20px;
    border-radius: 10px;
}

.howItWorks h2 {
    font-weight: bold;
    display: inline;
}

.howItWorks h4 {
    display: inline;
    text-align: center;
}

#help {
    color: #397EF3;
    background-color: #DCDCDC;
    border: none;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-top: #45464E;
}

#helped {
    color: #FF9292;
    border: none;
    text-align: center;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

#help1 {
    display: block;
    width: 100%;
}

#help2 {
    display: none;
    width: 100%;
}

.history h3 {
    text-align: center;
    margin-bottom: 80px;
}

.history {
    margin-bottom: 80px;
}

.peopleHistory {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.testimony {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 30px;
    width: 70%;
}

#karinaDiv {
    color: #4F4F4F;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

#ritaDiv {
    color: #4F4F4F;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

#pedroDiv {
    color: #4F4F4F;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.photos {
    border-radius: 100%;
}

.arrowButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 15%;
}

#leftButton {
    cursor: pointer;
}

#rightButton {
    cursor: pointer;
}

#buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;
    text-align: center;
    font-weight: bold;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#buttons > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

/* Product box */
.product-box {
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 14px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product-logo {
    border-radius: 10px 0px 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 92px;
        flex-basis: 92px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.product-content {
    padding: 7px 14px;
    text-align: left;
    width: 100%;
}

.product-title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 6px;
}

.product-subtitle {
    font-size: 12px;
    margin-bottom: 6px;
}

.product-price {
    font-size: 16px;
    font-weight: 700;
    color: #FF9292;
}

.product-box .form-check-input {
    width: 20px;
    height: 20px;
}

.product-box {
    margin-bottom: 24px;
}

.product-box:last-child {
    margin-bottom: 0;
}

.product-separator {
    background-color: #CAD1E2;
    opacity: 1;
}
/* */

.btn-back {
    color: #51535F;
}

.btn-continue {
    background: #397EF3;
    border-radius: 5px;
    padding: 11px 20px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-left: 64px;
}

.btn-continue:hover {
    color: white;
    background: #0060C7;
}

.btn-continue:active {
    background: #5E97D5;
}

/* estrutura-tela-1 */

.banner{
    margin-top: 23px;
    background: #EEF3F7;
    min-height: 91px;
    height: calc(1px + 20vw);
    max-height: 215px;
}

.banner-text-2 {
   display: none; 
}

.banner h1 {
    font-weight: 800;
    color: #45464E;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
}

.text-highlight {
    position: relative;
    z-index: 0;
}

.text-highlight:after {
    left: 2%;
    bottom: 20%;
    content: "";
    position: absolute;
    width: 103%;
    height: 40%;
    background-color: #e2d58e;
    z-index: -1;
}

.banner .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.banner-img {
    display: block;
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 120%;
    margin-top: 40px;
    margin-left: 20%;
}

#titulo{
    height: 36px;
    left: 463px;
    top: 115px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}

.search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.search-bar-filters p:first-child {
    margin-bottom: 10px;
}

#dropdown-item-1{
    border-radius: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #CAD1E2;
    margin-left: 414px;
    left: 18.02%;
    right: 36.94%;
    top: 16.67%;
}

#pesquisar-anuncio{
    font-size: 16px;
    color: #51535F;
    margin-bottom: 10px;
}

.dropdown-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.dropdown-item {
    border-radius: 5px;
    border: 1px solid #CAD1E2;
    color: #51535F;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    background-color: white;
    width: 111px;
    height: 36px;
    text-align: center;
}

#link {
    width: 90px;
    height: 24px;
    font-size: 14px;
    color: #1352AF;
    margin-left: 1.5ch ;
}

.busca .fa-search {
    position: absolute;
    top: 13px;
    left: 12px;
    z-index: 10;
}

.busca input {
    background-color: transparent;
    border-color: #A9A9A9;
    padding-left: 40px;
}

.card {
    margin-top: 24px;
    border: 1px solid #C4C4C4;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.card-btn{
    color: white;
    border: transparent;
    border-radius: 16px;
    margin-top: 15px;
    float: right;
    width: 81px;
    height: 24px;
    background-color: #397EF3;
    font: Inter;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
}

.card-text-info{
    font-family: Inter;
    font-style: normal;
    font-size: 14px;
    margin-top: 15px;
    height: 51px;
    float: left;
}

.card-text-nome{
    border-right: 1px solid #CAD1E2;
    margin-top: 3px;
    float: left;
    height: 18px;
    font: Inter;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
}

.imagem-user-icon{
    margin-top: 25px;
    float: left;
    width: 16px;
    height: 16px;
}

.card-nome-escola{
    color: #51535F;
    margin-left: 4px;
    margin-top: 25px;
    float: left;
    width: 197px;
    height: 18px;
    font-size: 12px;
}

.btn-last{
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
    font-weight: bold;
    font-size: 20px;
    color: #397EF3;
    background-color: transparent;
    border: 1px solid #397EF3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    width: 248px;
    height: 68px;
}

/* Card payment e card payment info */
.card-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 20px;
}

.card-payment {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 600px;
            flex: 1 1 600px;
    -webkit-box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
            box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
    padding: 94px 20px;
    border-radius: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.card-payment-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    background-color: rgba(255,146,146, 0.1);
    padding: 73px 57px 73px 57px;
    border-radius: 32px;
}

.card-payment-paragraph {
    font-weight: 300;
}

.payment-methods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
    grid-gap: 24px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.box-payment-method {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 126px;
            flex: 0 1 126px;
    height: 64px;
    /* width: 128px; */
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
            box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.box-payment-method:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.box-payment-img {
    height: 54px;
}

.box-payment-img img {
    height: 100%;
}

.payment-form {
    width: 90%;
}

.payment-form input[type="text"] {
    border: 0px;
    border-bottom: 2px solid #CAD1E2;
    font-size: 20px;
    width: 100%;
    padding-left: 10px;
    outline: none;
}

.payment-form input.payment-form-input-sm {
    width: 151px;
}

.card-payment-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card-payment-buttons a:last-child {
    margin-left: 32px;
}

.card-payment-buttons .btn-back {
    font-size: 20px;
}

.card-payment-buttons .btn-continue {
    padding: 9px 14px;
    font-size: 14px;
    text-transform: uppercase;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.card-payment-mobile-title {
    text-align: center;
    width: 100%;
}

.card-payment-info-title {
    font-size: 20px;
    font-weight: 400;
}

.card-payment-info-value {
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
    color: #397EF3;
}

.card-payment-info hr {
    border: 1px solid #EEF3F7;
    margin: 24px 0;
    background: #51535F;
}

p.card-payment-info-description:last-child {
    margin-top: 16px;
}

/* Tela confirmacao */

.confirmacao-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 24px 1fr;
    grid-template-columns: 2fr 1fr;
    grid-gap: 24px;
    padding: 90px 30px;
    -webkit-box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
            box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
    border-radius: 32px;
    margin-top: 3rem;
    margin-bottom: 50px;
}

.confirmacao-box-info {
    -webkit-box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
            box-shadow: 2px 2px 8px rgba(85, 116, 175, 0.24);
    border-radius: 32px;
    background: rgba(255, 146, 146, .1);
    padding: 45px 70px;
}

.material-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.material-list li {
    padding: 17px 0;
    border-bottom: 1px solid #E2E6EF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.img-box, .img-checkbox {
    min-width: 88px;
    text-align: center;
}

.img-box {
    height: 88px;
}

.img-checkbox {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.img-checkbox input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.material-description {
    margin-left: 10px;
}

.material-description-cashback {
    font-size: 14px;
    color: #1352AF;
}

.material-description-side {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    text-align: end;
}

.material-description-side .fa-times-circle {
    font-size: 20px;
    color: #A9A9A9;
}

.material-description-side .material-description-price {
    margin-top: 41px;
}

.material-list-add-donation {
    color: #0B4FAB;
}

li.material-footer {
    border-bottom: 0;
    padding-left: 88px;
}

.material-footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    font-weight: 600;
}

.material-links {
    margin-left: 88px;
}

.material-links .btn-back {
    padding: 10px 0;
}

/* Página agradecimentos*/

#mainImage {
    max-width: 30%;
    margin-top: 5%;
}

.bigText {
    display: block;
}

.smallText {
    display: none;
}

.userMessage {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.marginButton {
    margin-bottom: 80px;
}

/* Footer */
footer {
    padding: 60px 0;
    background: #51535F;
    color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

footer a {
    color: #E2E6EF;
}

footer a:hover {
    color: #E2E6EF;
}

footer ul {
    margin-bottom: 50px;
}

footer ul li {
    margin-bottom: 16px;
}

footer ul li:last-child {
    margin-bottom: 0;
}

footer h6 {
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: #E2E6EF;
}

.footer-column ul:last-child {
    margin-bottom: 0;
}

.footer-logo-top {
    display: none;
}

.footer-logo-bottom {
    margin-top: 158px;
}

/* Anúncios */

.announcement-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    position: relative;
    min-width: 100%;
}

.announcement {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.announcement h1 {margin-bottom: 47px;}
.announcement p {margin-bottom: 40px;}

.announcement .btn-continue {
    padding: 11px 40px;
    margin: 0;
    border-radius: 10px;
}

.announcement-flex {
    width: 100%;
}

.announcement-flex, .announcement-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 24px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.announcement-flex .side-progress-bar {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 131px;
            flex: 1 1 131px;
}

.announcement-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 720px;
            flex: 1 1 720px;
}

.announcement-content .row {
    margin-bottom: 3rem;
}

.announcement-form {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 10px;
}

.announcement-form p {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.announcement-form input[placeholder="0001234"] {
    width: 165px;
}

.announcement-form input[placeholder="1"],
.announcement-form input[placeholder="SP"] {
    width: 67px;
    text-align: center;
}

.ra-info {
    margin-left: 20px;
    font-size: 14px;
}

.ra-info a {
    color: #397ef3;
    text-decoration: underline;
}

.announcement-form-bottom-label {
    font-size: 11px;
    color: #727272;
}

.announcement-title {
    font-size: 20px;
}

.announcement-subtitle {
    font-size: 14px;
    color: #727272;
}

.announcement-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 10px;
    margin-bottom: .5rem;
}

.announcement-checkbox label {
    font-size: 14px;
    color: #212832;
}

#form-mobile input {
    margin: 10px 0;
}

/* Buttons */

.btn-outline {
    border: 1px solid #397EF3;
    border-radius: 5px;
    color: #397EF3;
    padding: 15px 30px;
    font-weight: bold;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.btn-outline:hover {
    color: #0060C7;
    border: 1px solid #0060C7;
    -webkit-box-shadow: 0px 2px 12px rgba(104, 106, 121, 0.18), 2px 4px 16px rgba(115, 118, 143, 0.18);
            box-shadow: 0px 2px 12px rgba(104, 106, 121, 0.18), 2px 4px 16px rgba(115, 118, 143, 0.18);
}

.btn-outline:active {
    -webkit-box-shadow: 6px -5px 6px -10px rgba(38, 39, 48, 0.18), 3px 4px 2px rgba(18, 19, 28, 0.18);
            box-shadow: 6px -5px 6px -10px rgba(38, 39, 48, 0.18), 3px 4px 2px rgba(18, 19, 28, 0.18);
}

/* Tooltip */

.donation-info .fa-question-circle {
    position: relative;
    cursor: pointer;
}

.s-tooltip {
    --space-to-left: 10px;

    font-size: 12px;
    content: attr(data-tooltip);
    position: absolute;
    background: black;
    color: white;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 225px;
    padding: 20px;
    -webkit-transform: translateY(calc(-100% - 30px)) scale(0);
        -ms-transform: translateY(calc(-100% - 30px)) scale(0);
            transform: translateY(calc(-100% - 30px)) scale(0);
    right: calc(0px - var(--space-to-left));
    font-family: "Inter", sans-serif;
    border-radius: 2px;
    background: #262626;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
            transform-origin: bottom center;
}

.s-tooltip p {
    color: white !important; 
}

/* Media queries for responsivity */
@media (max-width: 1199px) {
    html {
        font-size: 90%;
    }

    .confirmacao-box {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
        margin-top: 30px;
        padding: 0 30px;
    }

    .confirmacao-box h5 {
        text-align: center;
    }

    .material-list {
        margin: 0;
    }
}

@media (min-width: 993px) and (max-width: 1199px) {
    .banner h1 {
        font-size: 35px;
    }
}

@media(min-width: 993px) {
    .dropdown-items button {
        margin-left: 20px;
    }

    .dropdown-items button:first-child {
        margin-left: 0;
    }

}

@media(max-width: 992px) {
    .search-bar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;             
    }

    .search-bar-input {
        width: 100%;
    }

    .card-d-container {
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .card-d-photo {
        margin-top: 20px;
    }

    .card-d-info {
        margin: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
    }

    .card-d-content {
        padding: 40px 50px 45px 50px;
    }

    .card-d-content h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .card-d-content h3 {
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        margin-bottom: 16px;
    }

    .card-d-links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .card-d-links a:first-child {
        margin-bottom: 20px;
    }

    .card-d-links a {
        width: 100%;
        margin: 0;
    }

    .card-d-links a.btn-back {
        border: 1px solid #ccc;
    }

    .card-d-modalidade {
        padding: 20px 50px 50px 50px;
    }
    
    .card-d-modalidade span:first-child {
        display: block;
        margin-bottom: 20px;
        font-weight: 500;
        color: 212832;
    }

    .product-box {
        -webkit-box-shadow: none;
                box-shadow: none;
        background: transparent;
        border-radius: 0;
    }

    .card-d-info-subtitle {
        font-weight: 600;
        color: #51535F;
    }

    .product-price {
        color: #397EF3;
    }

    .donation-info p {
        font-size: 12px;
        color: #1152A9;
    }

    .donation-info i {
        color: black;
    }

    li.material-footer {
        padding-left: 0;
    }

    .material-links {
        margin: 0;
    }

    .material-links .btn-back {
        display: none;
    }

    .material-links .btn-continue {
        display: block;
        margin: 0;
    }

    .payment-form {
        width: 100%;
    }

    .payment-form input[type="text"] {
        font-size: 16px;
    }

    .card-payment {
        padding: 40px 20px;
    }

    .payment-methods {
        margin: 0;
    }

    .card-payment-content {
        width: 65%;
    }

    .card-payment-info {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }

    .card-payment-mobile-title {
        -webkit-box-ordinal-group: -1;
            -ms-flex-order: -2;
                order: -2;
    }

    .announcement {
        position: static;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    .main {
        background: url("/img/imgLPmobile.png");
        background-repeat: no-repeat;
        background-position: right top;
        display: block;
    }

    .main-content {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto;
        width: 70%;
    }

    #donation {
        font-size: 20px;
    }

    .ourNunbers {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .ourNumbers2 {
        width: auto;
    }

    .howItWorks-header {
        grid-gap: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }

    .howItWorks-header > * {
        width: 100%;
    }
}

/* End of @media(max-width: 992px) */

@media(min-width: 769px) and (max-width: 992px) {
    .banner h1 {
        font-size: 27px;
    }
}

@media (min-width: 769px) {
    .announcement-flex {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
}

@media (max-width: 768px) {
    .container {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
    .banner-img {
        margin: 0;
    }

    .banner-text-1 {
        display: none;
    }

    .banner-text-2 {
        display: block;
    }

    .banner h1 {
        font-size: 27px;
    }

    .confirmacao-box {
        padding: 0;
    }

    .confirmacao-box h5 {
        font-size: 18px;
        font-weight: 700;
    }

    .material-description h6 {
        font-size: 14px;
    }

    .material-description-cashback {
        color: #51535F;
        font-size: 10px;
    }

    .material-description-side {
        display: none;
    }

    .material-list-add-donation {
        font-size: 14px;
        color: #397EF3;
        font-weight: 500;
    }

    li.material-footer {
        padding-left: 20px;
        padding-right: 15px;
        border-bottom: 1px solid #E2E6EF;
        margin-bottom: 26px;
    }

    .donation-info {
        margin-left: 20px;
    }

    .card-payment-buttons a.btn-continue {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    .card-payment-content {
        width: 100%;
    }

    .announcement-content .row {
        margin-bottom: 5px;
    }

    .announcement-flex {
        position: static;
    }

    .container {
        min-height: -webkit-max-content !important;
        min-height: -moz-max-content !important;
        min-height: max-content !important;
        margin-bottom: 30px;
    }

    .ra-info {
        font-size: 12px;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        grid-gap: 10px;
    }

    .btn-continue {
        font-size: 16px;
    }

    .main-content {
        width: 55%;
    }

    #donation {
        font-size: 16px;
    }

    .triple > * {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 285px;
                flex: 1 1 285px;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .search-bar-filters {
        margin-top: 20px;
        width: 100%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    footer .container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: -30px;
    }

    .footer-column h6 {
        margin-top: 30px;
    }
}

.divHistories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#ritaDiv {
    display: none;
}

#pedroDiv {
    display: none;
}

@media (max-width: 576px) {
    .divHistories {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    #ritaDiv {
        display: none;
    }
    
    #pedroDiv {
        display: none;
    }
  
    footer {
        padding: 30px 0;
    }

    footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }

    .footer-column ul:last-child {
        margin-bottom: 50px;
    }

    .footer-column h6 {
        margin-bottom: 8px;
    }

    .footer-logo-bottom {
        display: none;
    }

    .footer-logo-top {
        display: block;
        margin-bottom: 25px;
    }

    .banner h1 {
        font-size: 18px;
    }

    .banner-img {
        margin-top: 20px;
    }

    .container {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .search-bar {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        text-align: left;
    }

    .dropdown-item {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    .dropdown-items {
        margin: 0;
    }

    .search-bar-filters {
        margin-top: 20px;
        width: 100%;
    }

    .card-d-content {
        padding-left: 30px;
        padding-right: 30px; 
    }

    .card-d-content h1 {
        font-size: 24px;
    }
    
    .card-d-content h3 {
        font-size: 18px;
    }

    .card-d-content p {
        font-size: 12px;
    }

    .card-d-modalidade a.btn-continue {
        font-size: 16px;
    }

    .card-d-modalidade .form-check label {
        font-size: 14px;
    }

    .payment-form input.payment-form-input-sm {
        width: 100px;
    }

    .payment-form input[type="text"] {
        font-size: 14px;
    }

    h1 { font-size: 32px; }        

    h5 { font-size: 18px; }

    .announcement-flex h5 { font-size: 24px; }

    .card-payment-paragraph {
        font-size: 10px;
    }

    .announcement-content .row .col-sm-6{
        margin-bottom: 5px;
    }

    .announcement-form input[placeholder="0001234"] {
        width: 107px;
    }

    #donation {
        font-size: 14px;
    }

    .divHistories {
        text-align: center;
    }

    .testimony {
        padding-left: 0;
    }
}