<footer>
  <div class="container d-flex justify-content-between">
    <div class="footer-column">
      <div class="footer-logo-top">
        <img src="/img/Logo-transparent.svg" alt="logo">
      </div>

      <h6>Sobre</h6>

      <ul>
        <li>
          <a href="#">O que fazemos</a>
        </li>
        <li>
          <a href="#">Como funciona</a>
        </li>
        <li>
          <a href="#">Missão, Visão e Valores</a>
        </li>
      </ul>

      <h6>Empresas parceiras</h6>

      <ul>
        <li>
          <a href="#">Seja nosso parceiro</a>
        </li>
        <li>
          <a href="#">Entenda a taxa da Doei!</a>
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <h6>Ajuda</h6>

      <ul>
        <li>
          <a href="#">Central de suporte</a>
        </li>
        <li>
          <a href="#">Dúvidas frequentes</a>
        </li>  
      </ul>

      <h6>Segurança</h6>

      <ul>
        <li>
          <a href="#">Mural da Transparência</a>
        </li>
        <li>
          <a href="#">Segurança de dados</a>
        </li>
        <li>
          <a href="#">Termos de uso</a>
        </li>
      </ul>
    </div>

    <div class="footer-column d-none d-md-block">
      <h6>Quero ser doador</h6>

      <ul>
        <li>
          <a href="#">Como funciona</a>
        </li>        
      </ul>

      <h6>Preciso de doação</h6>

      <ul>
        <li>
          <a href="#">Como funciona</a>
        </li>      
      </ul>
    </div>

    <div class="footer-column">
      <h6>Nossas redes</h6>

      <a href="#">
        <img src="/img/Logos-redes.svg" alt="redes_sociais">
      </a>

      <div class="footer-logo-bottom">
        <img src="/img/Logo-transparent.svg" alt="logo">
      </div>
    </div>
  </div>
</footer>