<header>
  <div class="navbar-logo">Logo</div>

  <nav class="navbar-list">
    <ul>
      <li>
        <a href="#">Início</a>
      </li>
      <li>
        <a href="#">Quem somos</a>
      </li>
      <li>
        <a href="#">Como funciona</a>
      </li>
      <li>
        <a href="#">Dúvidas</a>
      <li>  
    </ul>
  </nav>

  <div class="navbar-user">
    <div class="navbar-donate">DOAR</div>

    <img src="/icons/Severicons.svg" alt="user_icon">
    <div class="navbar-user-content">
      <h5>Maria Silva</h5>
      <span>Minha conta</span>
    </div>
    <div class="navbar-user-dropdown">
      <i class="fas fa-caret-down" alt="dropdown_icon" class="navbar-user-dropdown"></i>
    </div>
  </div>
</header>