<header>
  <div class="d-flex align-items-center">
    <img src="/img/Logo.svg" alt="logo">

    <nav class="navbar-list">
      <ul>
        <li>
          <a href="#">Início</a>
        </li>
        <li>
          <a href="#">O que fazemos</a>
        </li>
        <li>
          <a href="#">Como funciona</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="navbar-user">
    <a href="#" class="navbar-donate">
      FAZER UMA DOAÇÃO
    </a>

    <div class="navbar-user-content">
      <h5>Olá, Maria Silva</h5>
      <span>Minha conta</span>
    </div>
    <div class="navbar-user-dropdown">
      <i class="fas fa-caret-down" alt="dropdown_icon" class="navbar-user-dropdown"></i>
    </div>
  </div>
</header>