<header>
  <div class="w-100">
    <!-- Mobile -->
    <div class="header-mobile">
      <i class="fas fa-bars" style="font-size: 1.5rem;"></i>

      <a href="/">
        <img src="/img/Logo.svg" alt="logo" width="130">
      </a>
      <div>
        <i class="far fa-user"></i>
        <i class="fas fa-caret-down" alt="dropdown_icon" class="navbar-user-dropdown"></i>
      </div>
    </div>

    <!-- Desktop -->
    <div class="header-desktop">
      <a href="/">
        <img src="/img/Logo.svg" alt="logo">
      </a>

      <nav class="navbar-list">
        <ul>
          <li>
            <a href="#">Início</a>
          </li>
          <li>
            <a href="#">O que fazemos</a>
          </li>
          <li>
            <a href="#">Como funciona</a>
          </li>
        </ul>
      </nav>

      <div class="navbar-user">
        <a href="/pesquisar" class="navbar-donate-link">
          FAZER UMA DOAÇÃO
        </a>

        <div class="navbar-user-content">
          <h5>Olá, Maria Silva</h5>
          <span>Minha conta</span>

          <div class="navbar-dropdown-list">
            <span class="navbar-dropdown-list-title">Usuário</span>

            <a href="">
              <i class="far fa-user"></i>
              Minha conta
            </a>
            <a href="">
              <i class="far fa-heart"></i>
              Minhas doações
            </a>
            <a href="">
              <i class="far fa-edit"></i>
              Meus anúncios
            </a>

            <span class="navbar-dropdown-list-title">Atividades</span>

            <a href="" class="activity-link">
              <i class="fas fa-donate"></i>
              Fazer uma doação
            </a>

            <a href="" class="activity-link">
              <i class="fas fa-th"></i>
              Fazer um anúncio
            </a>

            <a href="" class="activity-link">
              <i class="far fa-question-circle"></i>
              Ajuda
            </a>
          </div>
        </div>
        <div class="navbar-user-dropdown">
          <i class="fas fa-caret-down" alt="dropdown_icon"></i>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  // Header dropdown
  const dropdown = document.querySelector('.navbar-dropdown-list');
  const arrowDown = document.querySelector('.navbar-user-dropdown');

  arrowDown.addEventListener('click', function() {
    if(dropdown.style.display == "block") {
      dropdown.style.display = "none";
    } else {
      dropdown.style.display = "block";
    }
  });

  // Fechar dropdown se usuário clicar fora do elemento
  document.addEventListener('mouseup', function(e) {
    if(dropdown.style.display == "block") {

      if((e.target != dropdown && e.target.parentNode != dropdown) && e.target.parentNode != arrowDown) {
        dropdown.style.display = "none";
      }
    }
  });
</script>